In [ ]:
# default_exp df.load_split

# Load and split dataset

In [ ]:
# export
import logging
import datetime
import pandas as pd

In [ ]:
# hide
from IPython.display import display

In [ ]:
# export
def load_csv(path: str) -> pd.DataFrame:
    df = pd.read_csv(
        path,
        encoding="ISO-8859-1",
        dtype={'CustomerID': str,'InvoiceID': str},
    )
    df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])   
    return df

In [ ]:
df = load_csv('../data/data.csv')
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France

In [ ]:
# export
def split_offline_online(df: pd.DataFrame, date: datetime.date) -> pd.DataFrame:
    df_offline = df[df['InvoiceDate'].dt.date < date]
    df_online = df[df['InvoiceDate'].dt.date >= date]
    return df_offline, df_online

DATE_SPLIT = datetime.date(2011,10,1)

In [ ]:
df_offline, df_online = split_offline_online(df, DATE_SPLIT)

display(df_offline.shape)
display(df_offline['InvoiceDate'].min())
display(df_offline['InvoiceDate'].max())

display(df_online.shape)
display(df_online['InvoiceDate'].min())
display(df_online['InvoiceDate'].max())

(370931, 8)

Timestamp('2010-12-01 08:26:00')

Timestamp('2011-09-30 17:22:00')

(170978, 8)

Timestamp('2011-10-02 10:32:00')

Timestamp('2011-12-09 12:50:00')

In [ ]:
# hide
df_offline.to_csv('../data/no_live_data.csv', index=False)

In [ ]:
# hide
df_online.to_csv('../data/raw_live_data.csv', index=False)